.ant-picker-outlined:focus, .ant-picker-outlined:focus-within {
  box-shadow: 0 4px 4px 0 rgba(93, 28, 139, 0.25) !important;
}
.ant-picker.ant-picker-range {
  box-shadow: 0 4px 4px 0 rgba(93, 28, 139, 0.25) !important;
  border: none;
  padding: 5px 10px;
}
.ad-date-picker {
  max-width: 90vw !important;
  min-width: 280px !important;
}
// @media (max-width: 640px) {
//   .mobile-date-picker-dropdown {
//     width: 90vw !important;
//     max-width: 90vw !important;
//     left: 5% !important; /* Center the dropdown */
//   }

//   .ant-picker-dropdown-range {
//     width: 100% !important;
//   }
// }