.ant-picker-outlined:focus, .ant-picker-outlined:focus-within {
  box-shadow: 0 4px 4px 0 rgba(93, 28, 139, 0.25) !important;
}
.ant-picker.ant-picker-range {
  box-shadow: 0 4px 4px 0 rgba(93, 28, 139, 0.25) !important;
  border: none;
  padding: 5px 10px;
}
