.login.ant-segmented {
  .ant-segmented-item-selected .ant-segmented-item-label {
    color: var(--purple-200);
  }
  .ant-segmented-item-label {
    padding: 0 38px;
  }
  .ant-segmented-item:hover {
    color: var(--title-color) !important;
  }
  .ant-segmented-item-selected::after {
    background: transparent;
  }
  .ant-segmented-item {
    &::after {
      background: transparent !important;
    }
  }
}

.ad-segmented.ant-segmented {
  background: #fff !important;
  .ant-segmented-item-label {
    padding: 0 28px;
  }
  .ant-segmented-item {
    color: var(--title-color) !important;
    font-weight: bold;
  }
  .ant-segmented-item-selected {
    background: var(--primary-color) !important;
    color: #fff !important;
  }
  /* 滑塊樣式 */
  .ant-segmented-thumb {
    background: var(--primary-color) !important;
  }
}